@font-face {
    font-family: spAdvRegular;
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

@font-face {
    font-family: spAdvSemiBold;
    src: url('../fonts/SFPRODISPLAYSEMIBOLD.otf') format('opentype');
}

@font-face {
    font-family: spAdvBold;
    src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
}
