ul.footer-link li:before {
    content: '';
    position: absolute;
    border-left: 1px solid theme('colors.lava.100');
    left: 14px;
    bottom: 0;
    z-index: -1;
    height: 100%
}

ul.footer-link li:last-child a:before {
    content: none;
}

ul.footer-link li:last-child {
    padding-bottom: 0
}