.cursor-pointer {
    cursor: pointer;
}

.direction-ltr {
    direction: ltr;
}

.limit-max-width {
    &:not(.sp-adv-full-width-screen) {
        max-width: 1440px;
        margin: auto;
    }
}

.h-94 {
    height: 94%;
}