.sp-adv-login {
    background: linear-gradient(0deg, rgba(19, 20, 68, 0.70) 0%, rgba(19, 20, 68, 0.70) 100%), url('../images/general/login.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 230px;
}